In [ ]:
CREATE SCHEMA BigQuery 
GO

In [ ]:
DROP TABLE [BigQuery].[Servel]

In [1]:
CREATE TABLE [BigQuery].[Servel] ( 
    Id INT IDENTITY,
    CreatedOn DATETIME,
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),
    domicilio_electoral VARCHAR(8000),
    dv CHAR(1),
    glosa_comuna VARCHAR(8000),
    nombre VARCHAR(8000),
    rut VARCHAR(8),
    sexo INT
);

In [2]:
CREATE TYPE ut_BigQuery_Servel AS TABLE  
(  
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),
    domicilio_electoral VARCHAR(8000),
    dv CHAR(1),
    glosa_comuna VARCHAR(8000),
    nombre VARCHAR(8000),
    rut VARCHAR(8),
    sexo INT
)

In [ ]:
DROP PROCEDURE [dbo].[usp_Insert_BigQuery_Servel]

In [1]:

CREATE PROCEDURE [dbo].[usp_Insert_BigQuery_Servel](@rows ut_BigQuery_Servel READONLY)  
AS  
BEGIN  
    INSERT INTO [BigQuery].[Servel] 
    SELECT GETDATE(), CreatedFromProcess, CreatedByQuery, 
        domicilio_electoral, dv, glosa_comuna, nombre, rut, sexo 
    FROM @rows;  
END

Probar insertar un registro usando tabla temporal

In [10]:
DECLARE @table AS ut_BigQuery_Servel;

INSERT INTO @table
(
    CreatedFromProcess, CreatedByQuery,
    domicilio_electoral, dv, glosa_comuna, nombre, rut, sexo
)
VALUES
(
    'Test', '10.562.459-K', 
    'Paris 712 H', 'k', 'Santiago', 'Daniel Kottow', '10562459', 0
)

EXEC usp_Insert_BigQuery_Servel @table