In [1]:
CREATE SCHEMA Smartcob 
GO

In [2]:
DROP TABLE [Smartcob].[Pagos]

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'Smartcob.Pagos', because it does not exist or you do not have permission.

In [3]:
CREATE TABLE [Smartcob].[Pagos] ( 
    Id INT IDENTITY,
    CreatedOn DATETIME,
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),
    monto DECIMAL(16,0),
    fecha DATE,
    cuentaCorriente VARCHAR(8000),
    numeroDocumento VARCHAR(8000),
    banco VARCHAR(8000),
    tipoDePago VARCHAR(80),
    username VARCHAR(80),
    itemId VARCHAR(80)
);

In [4]:
CREATE TYPE ut_Smartcob_Pagos AS TABLE  
(  
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),
    monto DECIMAL(16,0),
    fecha DATE,
    cuentaCorriente VARCHAR(8000),
    numeroDocumento VARCHAR(8000),
    banco VARCHAR(8000),
    tipoDePago VARCHAR(80),
    username VARCHAR(80),
    itemId VARCHAR(80)
)

In [ ]:
DROP PROCEDURE [dbo].[usp_Insert_Smartcob_Pagos]

In [5]:

CREATE PROCEDURE [dbo].[usp_Insert_Smartcob_Pagos](@rows ut_Smartcob_Pagos READONLY)  
AS  
BEGIN  
    INSERT INTO [Smartcob].[Pagos] 
    SELECT GETDATE(), CreatedFromProcess, CreatedByQuery, 
        monto, fecha, cuentaCorriente, numeroDocumento, banco, tipoDePago, username, itemId
    FROM @rows;  
END

Probar insertar un registro

In [6]:
DECLARE @table AS ut_Smartcob_Pagos;

INSERT INTO @table
(
    CreatedFromProcess, CreatedByQuery,
     monto, fecha, cuentaCorriente, numeroDocumento, banco, tipoDePago, username, itemId
)
VALUES
(
    'Test', 'item-id', 
    120000000, '2001-09-21', '545674576-455', '09093434587435', 'Banco BICE', 'cpt', 'dkottow', 'item-id'
)

EXEC usp_Insert_Smartcob_Pagos @table