In [1]:
CREATE SCHEMA Smartcob 
GO

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Smartcob' in the database.

: Msg 2759, Level 16, State 0, Line 1
CREATE SCHEMA failed due to previous errors.

In [2]:
DROP TABLE [Smartcob].[CPH_PT]

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'Smartcob.Pagos', because it does not exist or you do not have permission.

In [1]:
CREATE TABLE [Smartcob].[CPH_PT] ( 
    Id INT IDENTITY,
    CreatedOn DATETIME,
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),

    monto DECIMAL(16,0),
    fecha DATE,
    tipoDePago VARCHAR(8000),
    itemId VARCHAR(80)
);

In [2]:
CREATE TYPE ut_Smartcob_CPH_PT AS TABLE  
(  
    CreatedFromProcess VARCHAR(8000),
    CreatedByQuery VARCHAR(max),
    notificacion VARCHAR(8000),

    monto DECIMAL(16,0),
    fecha DATE,
    tipoDePago VARCHAR(8000),
    itemId VARCHAR(80)
)

In [ ]:
DROP PROCEDURE [dbo].[usp_Insert_Smartcob_CPH_PT]

In [3]:

CREATE PROCEDURE [dbo].[usp_Insert_Smartcob_CPH_PT](@rows ut_Smartcob_CPH_PT READONLY)  
AS  
BEGIN  
    INSERT INTO [Smartcob].[CPH_PT] 
    SELECT GETDATE(), CreatedFromProcess, CreatedByQuery, 
        monto, fecha, tipoDePago, itemId
    FROM @rows;
END

Probar insertar un registro

In [4]:
DECLARE @table AS ut_Smartcob_CPH_PT;

INSERT INTO @table
(
    CreatedFromProcess, CreatedByQuery,
    monto, fecha, tipoDePago, itemId
)
VALUES
(
    'SQL', 'item-id', 
    124000000, '2001-05-30', 'CPH', 'item-id'
)

EXEC usp_Insert_Smartcob_CPH_PT @table